* {

	box-sizing: border-box;
	font-family: Tahoma;
	padding: 0;
	margin: 0;

}

h1 {

	font-size: 48px;
	font-weight: bold;
	color: #F9FaF8;

}

button {
	
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	color: #F9FaF8;
	border: none;
	padding: 10px 40px;
	text-align: center;
	border-radius: 10px;

}

.flex-container {

	display: flex;

}

div#firstDiv {

	background-color: #1f2937;
	color: #E5E7EB;
	font-size: 18px;
	padding-left: 200px;
	padding-right: 200px;
	flex-direction: column;

}

div#heroText {

	padding-top: 100px;
	padding-bottom: 100px;
	flex-direction: row;

}

div#heroText div {

	padding: 20px;
	flex: 1 1 0%;

}

ul#menu{

	list-style-type: none;
	overflow: hidden;
	background-color: transparent;
	height: 65px;

}

li#logo {

	float:left;

}

li#logo a {

	display: block;
	font-size: 24px;
	font-weight: bold;
	color: #F9FAF8;
	text-align: center;
	padding: 18px 16px;
	text-decoration: none;

}

li#links {

	float: right;
	transition: background-color 0.5s;
	
}

li#links:hover:not(#logo){

	background-color: black;

}

li#links a {

	display: block;
	text-align: center;
	padding: 22px 16px;
	text-decoration: none;
	color: #F9FAF8;

}

div#secondDiv {

	background-color: #FFFFFF;
	color: #1F2937;
	font-size: 36px;
	font-weight: bolder;
	text-align: center;
	padding-left: 250px;
	padding-right: 250px;
	flex-direction: column;

}

div#informacion {

	flex: 1 1 0%;
	flex-direction: row;
	margin-bottom: 75px;

}

/*Aqui especifique a que item dentro de #informacion queria darle margen,
 ya que le estaba dando a TODO lo que estaba dentro de el y quite el supuesto 
 flex que en realidad era erroneo ya que el div dentro de informacion no era un flex container*/

div#itemDeInfo {

	display: flex;
	flex-direction: column;
	margin: 20px;

}

/*en vez de especificar la altura de el cuadro, preferi utilizar padding de 100% para que se hiciera automatico*/

div#cuadro {

	border: 4px solid #3882F6;
	border-radius: 30px;
	padding-top: 100%;
	

}

#infoText {

	font-size: 18px;
	font-weight: normal;

}

div#thirdDiv {

	background-color: #E5E7EB;
	flex-direction: row;

}

div#Quote {

	flex: 1 1 0%;
	font: italic 36px Arial;
	margin: 120px 250px 120px 280px;
	text-align: justify;
	/*font-variant: small-caps; hace que las minusculas sean mayusculas de menor tamaño*/

}

p#QuoteAutor {

	text-align: right;
	font-weight: bold;
	font-size: 25px;
}

div#fourthDiv {

	flex-direction: column;

}

div#blueDiv {

	flex: 1 1 0%;
	margin: 100px 180px;
	background: #3882F6;
	border-radius: 10px;

}

div#blueItem {

	padding: 50px 60px;
	align-content: center;
	justify-content: center;

}

div#textBlue {

	font-size: 20px;

}

button#buttonBlue {

	background-color: #3882F6;
	height: ;

}

div#footerDiv {

	background-color: #1f2937;

}

div#footerText {

	flex: 1 1 0%;
	color: white;
	margin: 40px 0px;
	text-align: center;

}